@page "/createsite"
@using Demo.Helpers;
@inject GraphHelper GraphHelper;
@using Microsoft.Graph;
@using Microsoft.Graph.Models;


<h3>CreateSite</h3>
<h1>Play</h1>

<button @onclick="CreateDemoList">Tạo site SharePoint mới</button>

@code {
    private async Task CreateDemoList()
    {
        var site = await GraphHelper.CreateListAsync();

        // Handle the result here
    }
}
